html, body, div, span,
h1, h2, h3, p,
a,
em, img, q,
small, strong,
b, i, ul, li,
footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

i, em {
    font-style: italic;
}

h1, h2, h3,
b, strong {
    font-weight: normal;
}